@media only screen and (max-width:912px) {

    nav {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 80px;
        transition: 0.5s;
        div{
            width: 100%;
            .diva{
                
                i{  
                    display: inline;
                    margin-left: 30%;
                    font-size: 30px;
                }
            }
        }

        &:hover {
            height: 150px;
        }

        a {
            padding-left: 80px;
            display: block;
            margin-top: 20px;



        }

        .navdiv {
            position: absolute;
            top: 0;
            padding-top: 50px;
            height: 200px;
            width: 100%;
            opacity: 0;
            transition: 0.5s;

            &:hover {
                opacity: 1;
            }

            a {
                width: 80%;
            }

        }

    }

    header {
        div {
            div {
                width: 50%;
            }
        }
    }

    .section1 {
        flex-direction: column-reverse;

        div {
            width: 50%;
        }

    }

    .section2 {
        flex-direction: column-reverse;

        div {
            width: 50%;
        }
    }


}

@media only screen and (max-width:768px) {

    nav{
        .diva{
            i{
                margin-left: 45%;
            }
        }
    }
}